/** COLORES GENERALES **/

$primarycolor: #007aff;
$primarycolor-80: rgba(0, 123, 255, 0.8);
$primarycolor-20: rgba(0, 123, 255, 0.2);
$typoPrimary: 'Rubik',
sans-serif;
$white: #ffffff;
$black: #000000;
$grey:#6c757d;
$grey-white: #999999;
.bg-welp {
    background-color: $primarycolor;
}

.txt-welp {
    color: $primarycolor;
}