/** COLORES GENERALES **/

$primarycolor: #007aff;
$typoPrimary: 'Rubik',
sans-serif;
$white: #ffffff;
$black: #000000;
$grey:#6c757d;
$grey-white: #999999;
.bg-welp {
    background-color: $primarycolor;
}

.txt-welp {
    color: $primarycolor;
}