/** SIMULADOR DE PRESTAMO **/

.section-simulador {
    background-color: $white !important;
    border-radius: 15px;
    font-family: $typoPrimary;
    p {
        color: $grey;
        font-size: 1.4rem!important;
    }
    .simulador-left {
        font-size: 2rem !important;
        text-align: left;
    }
    .simulador-right {
        font-size: 2rem !important;
        text-align: right;
    }
    .tasa-cero {
        font-size: 2rem !important;
        color: $primarycolor;
    }
    .simulador-prestamo-resultado {
        background-color: $grey-white;
        padding: 0 !important;
        margin: 0 !important;
        .txt-secundary {
            font-size: 1.4rem!important;
        }
    }
}


/** HOME | CREDITOS PERSONALES **/

.contenido-pedilo-ahora-txt h2 {
    color: $primarycolor;
}

.contenido-pedilo-ahora-txt p,
.section-manifiesto-txt p {
    margin-bottom: 30px;
}

.contenido-pedilo-ahora-txt a {
    font-size: 1.8rem;
}


/** HOME | MANIFIESTO **/

.section-manifiesto {
    background-color: $primarycolor;
    color: $white;
    text-align: right;
}

.section-manifiesto a {
    background-color: $white;
    padding: 20px;
    @include border-radius;
    color: $primarycolor;
    font-size: 1.8rem;
}