/** QUITO TODO EL SUBRRAYADO A LOS A **/

.btn-primary {
    padding: 20px !important;
    border-radius: 10px !important;
    border: 2px solid $primarycolor !important;
    transition: all 300ms ease-in-out !important;
}

.btn-primary-hover {
    border: 2px solid $primarycolor;
    transition: all 300ms ease-in-out !important;
}

a {
    text-decoration: none;
    font-size: 1.3rem !important;
}

.btn-onboarding {
    @extend.btn-primary;
    background-color: $primarycolor !important;
    color: $white !important;
    background: $primarycolor !important;
    &:hover {
        @extend.btn-primary-hover;
        background-color: $white !important;
        color: $primarycolor !important;
        background: $white !important;
    }
}

.btn-onboarding-white {
    @extend.btn-primary;
    background-color: $white !important;
    color: $primarycolor !important;
    background: $white !important;
    &:hover {
        @extend.btn-primary-hover;
        background-color: $primarycolor !important;
        color: $white !important;
        background: $primarycolor !important;
    }
}