/** FOOTER **/

footer {
    background-color: $primarycolor;
    color: $white;
    padding: 40px 0px;
    p {
        font-size: 1.4rem;
    }
    ul {
        list-style: none;
        padding: none !important;
        li {
            padding: none !important;
        }
    }
    ul li a,
    .social-media a i {
        color: $white;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        &:hover {
            color: $white;
            font-weight: 700;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
}